.react-calendar {
    border-radius: 7px;
    background-color: white;
    padding: 3px;
}
.react-calendar__navigation {
    height: 20px;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}
.react-calendar__navigation__arrow,
.react-calendar__navigation__label {
    background-color: white;
    border: none;
    outline: none;
    font-family: Roboto-Light;
    font-size: 20px;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
    font-size: 30px;
}
.react-calendar__month-view__weekdays__weekday {
    display: none;
}
.react-calendar__tile {
    padding: 3px;
    background-color: white;
    border: none;
    font-family: Roboto;
}
.react-calendar__tile:hover {
    color: #FFA800;
    cursor: pointer;
}
.react-calendar__tile:focus {
    border: 1px solid #FFA800;
    border-radius: 3px;
    background-color: #f8ce7a;
}
.date-inputs {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 30px;
}
.data {
    position: relative;
    width: 47%;
}
.form-input-date {
    width: 90%;
    height: 40px;
    font-family: Roboto;
    font-size: 1.125rem;
    padding-left: 7px;
    padding-right: 10px;
}
.form-input-date::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.vector-date {
    position: absolute;
    content: '';
    width: 30px;
    height: 35px;
    top: 2px;
    left: 80%;
    background-image: url('/src/images/Vector\ \(1\).png');
    background-repeat: no-repeat;
    margin-top: 3px;
}
.hidden-data{
    display: none;
}
.open-calendar {
    display: block;
    z-index: 1;
}