.direction-data-container {
    width: 100%;
}
.direction-times {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}
.direction-title-time {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}
.second-time {
    text-align: right;
    white-space: nowrap;
}
