.main-bottom {
    width: 75%; 
    position: relative;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.bottom-tigline {
    width: 45%;
    color: #fff;
    font-family: Roboto-Thin;
    font-size: 50px;
    font-weight: 100;
}
.selection {
    font-family: Roboto-Bold;
    font-weight: 800;
}
