.train-image {
    position: relative;
    width: 100%;
    min-height: 500px;
    border: 1px solid green;
}
.train-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    background: url('/src/images/Backgroun-selection.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 0.8;
}
.header-logo {
    font-family: Roboto;
    font-size: 2.25rem;
    font-weight: 900;
    color: white;
    width: 10%;
    padding: 10px 0;
}
.train-form-container {
    width: 77%;
    content: '';
    height: 284px;
    margin: 100px auto;
}
.train-form {
    width: 97%;
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.blocks-train {
    height: 100px;
    width: 48%;
}
.date-inputs-train {
    margin-top: 5px;
}
.main-contain {
    position: relative;
    content: '';
    width: 75%;
    margin: auto;
    padding: 0 10px;
}